.marquee-container {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
  overflow: hidden;
}

.marquee-text {
  margin: 0;
  animation: fade 3s ease-in-out;
}

/* Fade in and out effect */
@keyframes fade {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
